.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  .card-body-kita {
    font-size: 18px;
    padding: 0 20px 20px 20px;
  }
  
.footerkita {
    height:30px;
    padding: 5px 0;
    font-size: 12px;
    transition: all 0.3s;
    border-top: 1px solid #e0e0e0;
    background-color:white;
  }

  .footerkita .copyright {
    text-align: center;
    color: #012970;
  }
  
  .footerkita .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #012970;
  }

  .floating-button {
    position: fixed;
    bottom: 60px; /* Jarak dari bawah */
    right: 25px; /* Jarak dari kanan */
    z-index: 1000; /* Pastikan di atas elemen lain */
    background-color: #007bff; /* Warna tombol */
    border-radius: 50%; /* Membuat tombol bulat */
    width: 60px; /* Lebar tombol */
    height: 60px; /* Tinggi tombol */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    cursor: pointer;
    transition: all 0.3s ease;
}

.floating-button:hover {
    background-color: #0056b3; /* Warna saat hover */
    transform: scale(1.1); /* Perbesar sedikit saat hover */
}

.floating-button i {
    font-size: 24px; /* Ukuran ikon */
    color: white; /* Warna ikon */
}

/* Tab */
.tab-content {
  position: relative;
  z-index: 1;
}

.tab-pane {
  display: none;
}

.tab-pane.show {
  display: block;
}